# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Program Files\_程序员学习路线\Java后端\ElasticSearch ×\Elasticsearch02\代码\hotel-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
